/node_modules
/public/storage
/vendor
/vendor-src
/.idea
Homestead.json
Homestead.yaml
.vscode/
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/views/*
/storage/logs/*
composer.lock
npm-debug.log

